import 'package:flutter/material.dart';

void main() => runApp(Ediz());

class Ediz extends StatelessWidget {
  
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      
      title: 'Flutter Stateful Clicker Counter',
      theme: ThemeData
        primarySwatch: Colors.red,
      ),
      home: MyHomePage(title: 'Flutter Projesi'),
    );
  }
}
class Main PageState extends State<Main Page> {
@override
Widget build (Build Context context) => Scaffold (
appBar: AppBar(
backgroundCo lor: Colors.purple,
title: const Text(App Bar ,
leading: IconButton(
icon: const Icon(Icons.menu),
onPressed: () {},


@override
Widget build ( BuildContext context)
return Scaffold (
appBar: AppBar(
  title: Text (widget. title),
  ). AppBar
  body: Center(
  child: GestureDetector(
  onTap: ()
Pull up for p
  child: CircleAvatar(
  backgroundCo lor: Colo rs . black. withOp
  radius: 50,
  child: Flutte rLogo (
  size: 50,


child: Container (
child: Row(
children: <Widget>[
new Text("Hello world",
style: new TextStyle(
color: Colors . pink,
fontSize: 28.0
)
), 1/ Text
new Baseline(
baseline: 200,
baselineType: TextBase line . alphabetic,
child: new Text("WOW"),
), 1/ Baseline
new Text("End"))
class MyHomePage extends StatefulWidget {
  final String title;
  const MyHomePage({Key? key, required this.title}) : super(key: key);
  @override
  _MyHomePageState createState() => _MyHomePageState();
}

class _MyHomePageState extends State<MyHomePage> {
  int _counter = 0;

  void _incrementCounter() {
    setState(() {

      _counter++;
    });
  }

  class _Widget091State extends State<Widgete91> {
@override
Widget build (BuildContext context) {
return Center (
child: Column (
mainAxissize : MainAxisSize.min,
children: <Widget>[
const ElevatedButton(
onPressed: null,
child: Text ( 'Disabled ' ),
), 17 ElevatedButton
const SizedBox (height: 30) ,
ElevatedButton (
onPressed: () {}
child: const Text('Enabled' ),


  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text(widget.title),
      ),
      body: Center(
        child: Column(
          mainAxisAlignment: MainAxisAlignment.center,
          children: <Widget>[
            Text(
              'You have pushed the button this many times:',
            ),
            Text(
              '$_counter',
              style: TextStyle(fontSize:15 ),
            ),
          ],
        ),
      ),
      floatingActionButton: FloatingActionButton(
        onPressed: _incrementCounter,
        tooltip: 'Increment',
        child: Icon(Icons.add)
      ), 
    );
  }
}
